<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href="/css/styles.css"> 
    <title>Incorporar Nuevo Producto</title>
</head>
<body>
	<%- include("partials/header") %>
    <div class="container-products-wrapper">
		<div class="data">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Formulario de creación para un Nuevo Producto</h2>
				</div>
			</div>
			<div class="col-12">				
				<form action="/products/create" method="POST" enctype="multipart/form-data">
					<div class="DatoRegistro">
						<div class="product-data">
							<label for="Nombre" class="form-label">Nombre del Producto:</label>
							<input 
							type="text" 
							id="nombre" 
							name="nombre" 
							placeholder="Ej: Remera ReThink" 
							class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
                        	value="<%= locals.oldData ? oldData.nombre : null %>"
                     	>
                     <% if (locals.errors && errors.nombre) { %>
                        <div class="text-danger">
                           <%= errors.nombre.msg %> 
                        </div>
                     <% } %>
						</div>
						<div class="product-data">
							<label for="descripcion" class="form-label">Descripción del Producto:</label>
							<input type="text" id="descripcion" name="descripcion" placeholder="Ej: Remera de algodón, estampada" class="form-input">
							<% if (locals.errors && errors.descripcion) { %>
								<div class="text-danger">
								   <%= errors.descripcion.msg %> 
								</div>
							 <% } %>
						</div>
						<div class="product-data">
							<label for="talle" class="form-label">Talle Disponible:</label>
								<select 
									name="Talle" 
									class="form-select <%= locals.errors && errors.talle ? 'is-invalid' : null %>"
						 		>
					  			<option value="">Elegí tu talle</option>
					  			<%  
									let talles = ["XXL","XL", "L", "M", "S","XS"];
					  			%>
								<% for (const talle of talles) { %>
									<option 
										value="<%= talle %>"
										<%= locals.oldData && (talle === oldData.talle) ? 'selected' : null %> 
									> <%= talle %> </option>
								<% } %>
					  			</select>
								<% if (locals.errors && errors.talle) { %>
									<div class="text-danger">
									<%= errors.talle.msg %>
									</div>
								<% } %>							
						</div>
						<div class="product-data">
							<label for="precio" class="form-label">Precio del Producto:</label>
							<input type="number" id="Precio" name="precio" placeholder="Ej: 4.200" class="form-input">
							<% if (locals.errors && errors.precio) { %>
								<div class="text-danger">
								   <%= errors.precio.msg %> 
								</div>
							 <% } %>
						</div>
						<div class="product-data">
							<label for="category" class="form-label">Categoría:</label>
							<select 
									name="categoria" 
									class="form-select <%= locals.errors && errors.categoria ? 'is-invalid' : null %>"
						 		>
					  			<option value="">Elegí una categoría</option>
					  			<%  
									let categorias = ["En oferta","Precio de lista"];
					  			%>
								<% for (const categoria of categorias) { %>
									<option 
										value="<%= categoria %>"
										<%= locals.oldData && (categoria === oldData.categoria) ? 'selected' : null %> 
									> <%= categoria %> </option>
								<% } %>
					  			</select>
								<% if (locals.errors && errors.categoria) { %>
									<div class="text-danger">
									<%= errors.categoria.msg %>
									</div>
								<% } %>
						</div>
						<div class="product-data"> 							
							<label for="imagen" class="form-label">Imagen del Producto</label>
							<input type="file" id="imagen" name="imagenProducto" class="form-input">
							<% if (locals.errors && errors.imagen) { %>
								<div class="text-danger">
								   <%= errors.imagen.msg %> 
								</div>
							 <% } %>
						</div>
					</div>
					<div>
						<button class="button-create" type="submit" class="buy-now-button">Crear Producto</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
    <%- include("partials/footer") %>
</body>
</html>